<% include templates/header.ejs %>

    <div class="container col-md-6 container-top">
        <h1>Log in</h1>
        <br/>
        <form method="POST" action="/login">
          <div class="form-group">
            <label for="usernameId">Username</label>
            <input type="text" name="username" class="form-control" id="usernameId" aria-describedby="emailHelp" placeholder="Enter Username">
          </div>
          <div class="form-group">
            <label for="passwordId">Password</label>
            <input type="password" name="password" class="form-control" id="passwordId" placeholder="Enter Password">
          </div>
          <button type="submit" class="btn btn-primary">Log in</button>
        </form>
        <a href="register" class="a-right">Sign up</a>
    </div>

<% include templates/footer.ejs%>
