<% include templates/header-logged.ejs %>

<main role="main">

    <div class="jumbotron">
        <h1 class="display-5">You are logged in as: <%=name%></h1>
    </div>

</main>

<% include templates/footer-logged.ejs %>